<?xml version="1.0" encoding="UTF-8" standalone="no"?><config _jolie_type="void"><readed _jolie_type="bool">true</readed><server _jolie_type="void"><indirizzo _jolie_type="string">indirizzo</indirizzo><nome _jolie_type="string">nome</nome></server><server _jolie_type="void"><indirizzo _jolie_type="string">indirizzo</indirizzo><nome _jolie_type="string">nome</nome></server></config>