<?xml version="1.0" encoding="UTF-8" standalone="no"?><configList _jolie_type="void"><server _jolie_type="void"><address _jolie_type="string">socket://localhost:4000</address><name _jolie_type="string">server1</name></server><server _jolie_type="void"><address _jolie_type="string">a2</address><name _jolie_type="string">s2</name></server><server _jolie_type="void"><address _jolie_type="string">a3</address><name _jolie_type="string">s3</name></server><vuoto _jolie_type="bool">true</vuoto></configList>